
<footer><a class="navbar-brand bg-body-tertiary" href="/"><span class="sir logo logo-footer">&copy;Sir </span><span class="mohammed logo logo-footer">Mohammed </span><span class="ramadan logo logo-footer">Ramadan</span></a>
</footer>

</body>
</html>