<!-- Footer Start -->
<div class="container-fluid footer text-light  mt-5 pt-5 wow fadeIn " dir="rtl" data-wow-delay="0.1s">
  <div class="container py-5 px-lg-5">
      <div class="row g-5">
          <div class=" col-12 col-md-6 col-lg-6">
              <h5 class="col-sm-12 text-white mb-4 fs-4"> Hyper Physics</h5>
              <p><i class="fa fa-map-marker me-3"></i >    كفر الشيخ - قلين المحطة </p>
              <p><i class="fa fa-phone me-3"></i> <span dir="ltr">  +01234567890</span></p>
              <p><i class="fa fa-envelope me-3"></i> noormed@gmail.com</p>
              <div class="d-flex pt-2">
                  <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-6 d-flex justify-content-lg-start align-content-center flex-column" >
              <h5 class="text-white mb-4 fs-4">الروابط الشائعة </h5>
              <a class=" btn text-light" href="/#services" dir="rtl">المحاضرات المجانية </a>
              <a class="btn text-light" href="/products" dir="rtl"> المذكرات </a>
              <a class="btn text-light" href="/login" dir="rtl">الاشتراك</a>
            
          </div>
      </div>
      </div>
          
     
 
  <div class="container px-lg-5 text-center">
      <div class="copyright">
          <div class="row text-center">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0 fw-bold">
                  &copy; <a class="border-bottom text-center" href="#"  >منصة Hyper Physics  </a>   حقوق النشر محفوظة . 
              </div>
            </div>
          </div>
      </div>
  </div>

<!-- Footer End -->