<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sir Mohammed Ramadan</title>
  <meta name="description" content="Physics as it should be">
  <link rel="icon" href="/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="/bootstrap-5.3.0-dist/css/bootstrap.min.css">
  <script src="/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- <nav >
    <h1 class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark"><a href="/"><span class="sir">Sir </span><span class="mohammed">Mohammed </span><span class="ramadan">Ramadan</span> </a></h1>
    <a href="/smoothies" class="btn">View Courses</a>
    <a href="login" class="btn">Login</a>
    <a href="signup" class="btn">Signup</a>
  </nav> -->

  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span class="sir logo">Sir </span><span class="mohammed logo">Mohammed </span><span class="ramadan logo">Ramadan</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link nav-arabic" href="/">الرئيسية</a>
              </li>
          <li class="nav-item">
            <a class="nav-link nav-arabic" aria-current="page" href="signup">اشترك الآن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-arabic" href="login">تسجيل الدخول</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

