<%- include("partials/header.ejs") -%>

<header class="intro">
  <div >
    <img class="intro-photo" src="" alt="physics">
  </div>
  <div class="headings">
    <h2>أول jygbhjbljhbuhbyoة</h2>
    <h3>By NoorMed</h3>
    
  </div>
</header>

<%- include("partials/footer.ejs") -%>
