<%- include("partials/header.ejs") -%>

<header class="intro">
  <div >
    <img class="intro-photo" src="/Albert_Einstein_Head.jpg" alt="physics">
  </div>
  <div class="headings">
    <h2>أول منصة عربية</h2>
    <h3>By NoorMed</h3>
    
  </div>
</header>

<header>
  <div class="smoothie">
    <img src="/Albert_Einstein_Head.jpg" alt="smoothie">
  </div>
  <div class="headings">
    <h2>Physics Platform</h2>
    <h3>By NoorMed</h3>
    
  </div>
</header>
<header>
  <div class="smoothie">
    <img src="/Albert_Einstein_Head.jpg" alt="smoothie">
  </div>
  <div class="headings">
    <h2>Physics Platform</h2>
    <h3>By NoorMed</h3>
    
  </div>
</header>
<header>
  <div class="smoothie">
    <img src="/Albert_Einstein_Head.jpg" alt="smoothie">
  </div>
  <div class="headings">
    <h2>Physics Platform</h2>
    <h3>By NoorMed</h3>
    
  </div>
</header>

<%- include("partials/footer.ejs") -%>
