<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>الرئيسية</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/atom_7206724.png">

	<!-- CSS here -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/nice-select.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a class="navbar-brand" href="/"><span class="sir logo">Sir </span><span class="mohammed logo">Mohammed </span><span class="ramadan logo">Ramadan</span></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">الرئيسية</a></li>
                                    <li><a href="#">امتحانات مجانية</a>
                                        <ul class="submenu">
                                            <li><a href="#">الصف الأول الثانوي</a></li>
                                            <li><a href="#">الصف الثاني الثانوي</a></li> 
                                            <li><a href="#">الصف الثالث الثانوي</a></li> 
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">محاضرات مجانية</a>
                                        <ul class="submenu">
                                            <li><a href="#">الصف الأول الثانوي</a></li>
                                            <li><a href="#">الصف الثاني الثانوي</a></li>
                                            <li><a href="#">الصف الثالث الثانوي</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/courses">كورساتي</a></li>
                                    <li >Welcome <%= user.firstName %></li>
                                    <li><a href="/signup">الاشتراك في المنصة</a></li>
                                </ul>
                            </nav>
                        </div>          
                        <!-- Header-btn -->
                        <div class="header-btns d-none d-lg-block f-right">
                            <a href="/login" class="mr-40"><i class="ti-user"></i>  تسجيل الدخول  </a>
                            <a href="/logout" class="mr-40"><i class="ti-user"></i>  تسجيل الخروج  </a>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>
        <!--? Beginning of the website -->
        <div class="slider-area hero-bg1 hero-overly">
            <div class="single-slider hero-overly  slider-height1 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-10">
                            <!-- Hero Caption -->
                            <div class="hero__caption pt-100">
                                <h1>Physics</h1>
                                <p>م/ محمد رمضان</p>
                            </div>
                            <!-- If you want to have a search bar -->
                            <!-- <form action="#" class="search-box mb-100">
                                <div class="input-form">
                                    <input type="text" placeholder="What are you finding?">
                                </div>
                                <div class="select-form">
                                    <div class="select-itms">
                                        <select name="select" id="select1">
                                            <option value="">In where?</option>
                                            <option value="">Catagories One</option>
                                            <option value="">Catagories Two</option>
                                            <option value="">Catagories Three</option>
                                            <option value="">Catagories Four</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search-form">
                                    <a href="#"><i class="ti-search"></i> Search</a>
                                </div>	
                            </form>	 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Area End-->
        <!--? Popular Locations Start 01-->
        <div class="popular-location border-bottom section-padding40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <h2>عن المنصة</h2>
                            <p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>
                        </div>
                    </div>
                </div>          
                <!--first card-->         
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-location mb-30">
                                <div class="location-img">
                                    <img src="/assets/img/gallery/location1.png" alt="">
                                </div>
                                <div class="location-details">
                                    <!-- <a href="#" class="location-btn">Tips</a> -->
                                    <ul>
                                        <li>12 March   I   by Alan</li>
                                    </ul>
                                    <p><a href="blog_details.html">The Best SPA Salons For Your Relaxation</a></p>
                                </div>
                            </div>
                        </div>
                        <!--second card-->         
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-location mb-30">
                                <div class="location-img">
                                    <img src="/assets/img/gallery/location2.png" alt="">
                                </div>
                                <div class="location-details">
                                    <!-- <a href="#" class="location-btn">Tips</a> -->
                                    <ul>
                                        <li>12 March   I   by Alan</li>
                                    </ul>
                                    <p><a href="blog_details.html">The Best SPA Salons For Your Relaxation</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- third card-->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-location mb-30">
                                <div class="location-img">
                                    <img src="/assets/img/gallery/location3.png" alt="">
                                </div>
                                <div class="location-details">
                                    <!-- <a href="#" class="location-btn">Tips</a> -->
                                    <ul>
                                        <li>12 March   I   by Alan</li>
                                    </ul>
                                    <p><a href="blog_details.html">The Best SPA Salons For Your Relaxation</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- forth card-->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="single-location mb-30">
                                <div class="location-img">
                                    <img src="/assets/img/gallery/location3.png" alt="">
                                </div>
                                <div class="location-details">
                                    <!-- <a href="#" class="location-btn">Tips</a> -->
                                    <ul>
                                        <li>12 March   I   by Alan</li>
                                    </ul>
                                    <p><a href="blog_details.html">The Best SPA Salons For Your Relaxation</a></p>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
        <!-- Popular Locations End -->
        <!--? Popular Directory Start -->
        
        <div class="popular-location border-bottom section-padding40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <h2>السنوات الدراسية</h2>
                            <p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="assets/img/gallery/location3.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>الصف الأول الثانوي</p>
                                <br>

                                <a href="#" class="location-btn">50 <i class="ti-plus"></i> درس</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="assets/img/gallery/location4.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>الصف الثاني الثانوي</p>
                                <br>
                                <a href="#" class="location-btn">28 <i class="ti-plus"></i> درس</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="assets/img/gallery/location5.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>الصف الثالث الثانوي</p>
                                <br>
                                <a href="#" class="location-btn">99 <i class="ti-plus"></i> درس</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!--? Popular Directory End -->
        <!--? Want To work 01-->
        <section class="wantToWork-area text-right">
            <div class="container">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-7 col-lg-9 col-md-8">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>احجز ملزمتك</h2>
                                <p>املأ بياناتك لتصلك ملزمتك الآن</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4">
                            <a href="#" class="btn f-right sm-left">احجز الآن</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Our Services Start -->
        <div class="our-services  border-bottom text-right">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <span>01</span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">املأ بياناتك</a></h5>
                                <p>سجل بياناتك متضمنة الاسم ورقم الهاتف والعنوان المراد التوصيل إليه لتصلك منتجاتنا</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <span>02</span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">السداد عن طريق فودافون كاش</a></h5>
                                <p>بعد تسجيل بياناتك يمكنك السداد عن طريق فودافون كاش من خلال تحويل المبلغ إلى موبايل : 01011111111</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <span>03</span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">تواصل معنا</a></h5>
                                <p>بعد السداد يمكنك التواصل معنا لتفعيل الحجز عن طريق تلجرام</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!--? Want To work 02-->
        <section class="wantToWork-area">
            <div class="container">
                <div class="wants-wrapper w-padding2">
                    <div class="row justify-content-between text-right">
                        <div class="col-xl-8 col-lg-8 col-md-7">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <div class="logo">
                                    <a class="navbar-brand" href="/"><span class="sir logo">Sir </span><span class="mohammed logo">Mohammed </span><span class="ramadan logo">Ramadan</span></a>
                                </div>
                                <p>كل الحقوق والتسيجلات حقوقها محفوظه لدى منصة مستر محمد رمضان
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-5">
                            <div class="footer-social f-right sm-left">
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Want To work 01-->
        <section class="wantToWork-area">
            <div class="container">
                <div class="wants-wrapper">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-2 col-lg-3 col-md-4">
                            <a href="/signup" class="btn f-right sm-left">اشترك في المنصة الآن</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
    </main>
    <footer>
        <div class="footer-wrapper pt-30">
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex text-center">
                            <div class="col-xl-12 col-lg-12 ">
                                <div class="footer-copy-right">
                                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="/assets/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>


    
    </body>
</html>