<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <h1><a href="home">Physics Platform</a></h1>
  </nav>

<header>
  <div class="smoothie">
    <img src="/Albert_Einstein_Head.jpg" alt="smoothie">
  </div>
  <div class="headings">
    <h2>Physics Platform</h2>
    <h3>By NoorMed</h3>
    <a href="/smoothies" class="btn">View Courses</a>
  </div>
</header>


<footer>Copyright Physics platform</footer>

</body>
</html>