<%- include("partials/htmlHead.ejs") -%>

    <title>SEO Master - SEO Agency Website Template</title>
    
</head>

<body>
    <div class="container-fluid-xxl bg-white p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
              <a href="" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-bolt me-2"></i>Sigma <span class="fs-5"> platform</span></h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
              </a>  
            </nav>

            <div class="container-fluid-xxl py-5 hero-header mb-5">
                <div class="container text-center my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-lg-9 text-center text-lg-start">
                            <!-- <a href="" class="btn btnheadstyle  py-sm-3 px-sm-5 rounded-pill animated slideInRight"> </a> -->
                                <section class="wrapper">
                                  <div class="form signup">
                                    <header>هل تريد الاشتراك ؟</header>
                                    <form action="post">
                                      <input type="text" placeholder="الاسم الاول " required />
                                      <input type="text" placeholder="الاسم الاخير " required />
                                      <input type="text" placeholder="رقم الهاتف " required />
                                      <input type="text" placeholder="رقم هاتف ولي الامر  " required />
                                      <input type="text" placeholder=" السن " required />
                                      <input type="password" placeholder=" كلمة السر  " required />
                                      <div class="checkbox">
                                        <input type="checkbox" id="signupCheck" />
                                        <label for="signupCheck">البقاء متصلا</label>
                                      </div>
                                      <input type="submit" value="اشتراك" />
                                    </form>
                                  </div>
                            
                                  <div class="form login">
                                    <header>هل تريد تسجيل الدخول ؟</header>
                                    <form action="post">
                                      <input type="text" placeholder="رقم الموبايل " required />
                                      <input type="password" placeholder="كلمة السر " required />
                                      <a href="#">هل نسيت كلمة السر؟</a>
                                      <input type="submit" value="تسجيل الدخول " />
                                    </form>
                                  </div>
                            
                                  <script>
                                    const wrapper = document.querySelector(".wrapper"),
                                      signupHeader = document.querySelector(".signup header"),
                                      loginHeader = document.querySelector(".login header");
                            
                                    loginHeader.addEventListener("click", () => {
                                      wrapper.classList.add("active");
                                    });
                                    signupHeader.addEventListener("click", () => {
                                      wrapper.classList.remove("active");
                                    });
                                  </script>
                                </section>
                        
                        </div>
                        <div class="col-lg-6 text-center text-lg-start"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Navbar & Hero End -->
               
        <!-- Footer End -->
        <%- include("partials/footer.ejs") -%>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/wow/wow.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/main.js"></script>
</body>

</html>