<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/atom_7206724.png">

    <title>تسجيل الدخول</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/animated.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <!-- <link rel="stylesheet" href="/style.css"> -->

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Pre-header Starts -->
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8 col-7">
          <ul class="info">
            <li class="envelope"><a href="#" class="email-top"><i class="fa fa-envelope"></i>digimedia@company.com</a></li>
            <li class="phone"><a href="#"><i class="fa fa-phone"></i>010-020-0340</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-4 col-5">
          <ul class="social-media ">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre-header End -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" >
              <a class="navbar-brand" href="#"><span class="sir logo" style="margin-right: 5px;" > Sir  </span> <span class="mohammed logo" style="margin-right: 5px;"> Mohammed  </span> <span class="ramadan logo"> Ramadan </span></a>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <!-- <ul class="nav">
              <% if(user) { %>
                <!-- <li class="scroll-to-section"><a href="#about">امتحانات مجانية</a></li>
                <li class="scroll-to-section"><a href="#services">محاضرات مجانية</a></li> -->
                <% } else { %>
                <li class="scroll-to-section"><a href="/" class="active">الرئيسية</a></li>
                <li class="scroll-to-section"><a href="/signup">الاشتراك في المنصة</a></li>
                <li class="scroll-to-section"><a href="#about">امتحانات مجانية</a></li>
                <li class="scroll-to-section"><a href="#services">محاضرات مجانية</a></li>
                <% } %>
            </ul>         -->
            <!-- <a class='menu-trigger'>
                <span>Menu</span>
            </a> -->
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner hero-overly wow fadeIn border border-danger" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6 mx-auto align-self-center">
              <div class="left-content mx-auto show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row mx-auto">
                  <div class="col-md-6 mx-auto">
                    <form action="/" class="loginForm ">
                      <h2 class="loginTitle">تسجيل الدخول</h2>
                      <label for="email" class="labelForm">الإيميل</label>
                      <input type="text" name="email" class="inputForm" required />
                      <div class="email errorForm"></div>
                      <label for="password"  class="labelForm">كلمة المرور</label>
                      <input type="password" name="password" class="inputForm" required />
                      <div class="password errorForm"></div>
                      <button  class="buttonForm">تسجيل الدخول</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © Sir Mohamed Ramadan <script>document.write(new Date().getFullYear());</script> . All Rights Reserved. </p>
          <p>Powered by Noormed </p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/owl-carousel.js"></script>
  <script src="/assets/js/animation.js"></script>
  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/custom.js"></script>



    <!-- login script -->>
    <script>
      const form = document.querySelector('form');
      const emailError = document.querySelector('.email.error');
      const passwordError = document.querySelector('.password.error');
    
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
    
    // get values
    const email = form.email.value;
    const password = form.password.value;
    
    try {
    const res = await fetch ("/login", {
    method: "POST",
    body: JSON.stringify({ email , password}),
    headers: {"Content-Type":"application/json"}
    });
    const data = await res.json();
    if (data.errors) {
            // emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password || data.errors.email;
          }
    if(data.student){
      location.assign("/");
    }
    
    } catch (error) {
        // res.status(400).JSON({error});
        console.log(error);
    }  });
    </script>
  


</body>
</html>