<%- include("partials/htmlHead.ejs") -%>
<!-- Write here the title of the page -->
<title>تسجيل الدخول</title>

<!-- write here the rest of the css custom style of this current page for example -->
    <!-- <link rel="stylesheet" href="/style.css"> 
    /
    /
    /
    -->
    <link rel="stylesheet" href="/assets/css/loginStyle.css">

  </head>

<body>



    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav ">
              <!-- ***** Logo Start ***** -->
              <a href="/" >
                <a class="navbar-brand" href="#"><span class="sir logo" style="margin-right: 5px;" > Sir  </span> <span class="mohammed logo" style="margin-right: 5px;"> Mohammed  </span> <span class="ramadan logo"> Ramadan </span></a>
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav ">
                
                <% if(user) { %>
                <% } else { %>
                <li class="scroll-to-section"><a href="/">الرئيسية</a></li>
                <li class="scroll-to-section"><a href="/signup">الاشتراك في المنصة</a></li>
                <li class="scroll-to-section"><a href="/freeExams">امتحانات مجانية</a></li>
                <li class="scroll-to-section"><a href="#services">محاضرات مجانية</a></li>
                <li class="scroll-to-section"><a href="/login" class="active">تسجيل الدخول</a></li> 
                <li class="scroll-to-section"><a href="#"></a></li> 
                <% } %>
              </ul>        
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>

 <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">تسجيل الدخول</label>
		<input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">نسيت كلمة المرور</label>
		<div class="login-form">
			<div class="sign-in-htm">
        <form action="/">
          <div class="group">
            <label for="phoneNumber" class="label">رقم الموبايل</label>
            <input id="phoneNumber" name="phoneNumber" type="number" class="input " required>
            <div class="errorPhone"></div>
          </div>
          <div class="group">
            <label for="password" class="label">كلمة المرور</label>
            <input id="password" name="password" type="password" class="input password error" data-type="password" required>
            <div class="errorPassword"></div>
          </div>
          <div class="group">
            <input type="submit" class="button" value="تسجيل الدخول">
          </div>
          <div class="hr"></div>
          <div><span style="color: rgb(135, 176, 248);">ليس لديك حساب !! </span><a href="/signup">اشترك الآن</a></div>
        </div>
        </form>
				

			<div class="for-pwd-htm">
				<div class="group">
					<label for="user" class="label">رقم الموبايل</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="إعادة ضبط كلمة المرور">
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>







<%- include("partials/footer.ejs") -%>

<%- include("partials/jsScripts.ejs") -%>


    <!-- login script -->
    <script>
      const form = document.querySelector('form');
      const phoneNumber = document.querySelector('#phoneNumber');
      const password = document.querySelector('#password');
      const phoneError = document.querySelector('.errorPhone');
      const passwordError = document.querySelector('.errorPassword');
    
     
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
    
    // get values
    const phoneNumber = form.phoneNumber.value;
    const password = form.password.value;
    console.log(phoneNumber);
    console.log(password);
    
    try {
    const res = await fetch ("/login", {
    method: "POST",
    body: JSON.stringify({ phoneNumber , password}),
    headers: {"Content-Type":"application/json"}
    });
    const data = await res.json();
    console.log(data);
    console.log(data.errors);
    if (data.errors) {
            // emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password || data.errors.phoneNumber;
          }
    if(data.student){
      location.assign("/");
    }
    
    } catch (error) {
        // res.status(400).JSON({error});
        console.log(error);
    }  });
    </script>
  


</body>
</html>