<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Physics</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <h1><a href="home">Physics</a></h1>
  </nav>

<form>
  <h2>Sign up</h2>
  <label for="firstName">First Name</label>
  <input type="text" name="firstName"  />
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName"  />
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <!-- <div class="email error"></div> -->
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <!-- <div class="password error"></div> -->
  <label for="birthdate">Birthdate</label>
  <input type="date" name="birthdate"  />
  <label for="phoneNumber">Phone</label>
  <input type="number" name="phoneNumber"/>
  <button>Sign up</button>
</form>

<footer>Copyright Physics platform</footer>


<script>
  const form = document.querySelector('form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
  const res = await fetch ("/signup", {
    method: "POST",
    body: JSON.stringify({ email , password}),
    headers: {"Content-Type":"application/json"}
  });
    const data = await res.json();
    if(data.student){
      location.assign("/login");
    }

} catch (error) {
  
}

  });
</script>
</body>
</html>