<%- include("partials/header.ejs") -%>


<form novalidate>
  <div class="form-group">
  <h2>الاشتراك</h2>
  <h4>برجاء إدخال البيانات الآتية</h4>
  <br>
  <label for="firstName">الاسم الأول</label>
  <input type="text" name="firstName"  class="form-control" maxlength="20" id="firstName" pattern="[A-Za-z]+" required/>
  <div class="invalid-feedback">
    الرجاء إدخال الاسم الأول بشكل صحيح محتويا على حروف فقط
  </div>
  <label for="lastName">الاسم الأخير</label>
  <input type="text" name="lastName"  class="form-control" maxlength="20" id="lastName" pattern="[A-Za-z]+" required />
  <div class="invalid-feedback">
    الرجاء إدخال الاسم الأخير بشكل صحيح محتويا على حروف فقط
  </div>
  <div class="lastName error"></div>
  <label for="email">الإيميل</label>
  <input type="text" name="email" maxlength="30" required />
  <div class="email error"></div>
  <label for="password">كلمة المرور</label>
  <input type="password" name="password" class="form-control" id="password" minlength="8" maxlength="30" required  />
  <div class="password error"></div>
  <div class="invalid-feedback">
    <!-- Please enter a password with min length : 8, Contains at least one alphabetical character, Contains at least one digit & Contains at least one special character  -->
  الرجاء إدخال كلمة المرور بحد أدنى 8 خانات وحد أقصى 30 خانة متضمنة على الأقل: حرف واحد، رقم واحد، رمز واحد
  </div>
  <label for="age">العمر</label>
  <input type="number" name="age" id="age" class="form-control" min="10" max="19" maxlength="2"  required/>
  <div class="invalid-feedback">
الرجاء إدخال عمر مناسب من 10 إلى 19 سنة
  </div>
  <label for="phoneNumber">رقم الموبايل</label>
  <input type="number" name="phoneNumber" id="phoneNumber" pattern="^(010|011|012|015)\d{8}$" maxlength="11" class="form-control" required />
  <div class="invalid-feedback">
     الرجاء إدخال رقم الموبايل بشكل صحيح متضمنا 11 خانة
  </div>
  <button>اشترك الآن</button>
</div>
</form>

<%- include("partials/footer.ejs") -%>


<script>

document.addEventListener('DOMContentLoaded', function() {
  //  document.querySelector('.invalid-feedback').style.display = 'none';
  const form = document.querySelector('form');
  
  const firstNameElement = document.getElementById("firstName");
  const lastNameElement = document.getElementById("lastName");
  const passwordElement = document.getElementById("password");
  const phoneNumberElement = document.getElementById("phoneNumber");
  const ageElement = document.getElementById("age");

  const emailError = document.querySelector('.email.error');

  // first name validation
  firstNameElement.addEventListener('input', function(e) {
  e.preventDefault();
  const firstNameValue = firstNameElement.value;
  // console.log(firstNameValue);
  if(firstNameValue.trim() === ''){
    firstNameElement.classList.remove("is-valid");
    firstNameElement.classList.add("is-invalid");
  }else{
    if (/[^a-zA-Z]/.test(firstNameValue)) {
    firstNameElement.classList.remove("is-valid");
    firstNameElement.classList.add("is-invalid");
  }else {
    firstNameElement.classList.remove("is-invalid");
    firstNameElement.classList.add("is-valid");

  }
  }
 
});

// last name validation
lastNameElement.addEventListener('input', function(e) {
  e.preventDefault();
  const lastNameValue = lastNameElement.value;
  // console.log(lastNameValue);
  if(lastNameValue.trim() === ''){
    lastNameElement.classList.remove("is-valid");
    lastNameElement.classList.add("is-invalid");
  }else{
  if (/[^a-zA-Z]/.test(lastNameValue)) {
    lastNameElement.classList.remove("is-valid");
    lastNameElement.classList.add("is-invalid");
  } else {
    lastNameElement.classList.remove("is-invalid");
    lastNameElement.classList.add("is-valid");
  }
  }
});


// password validation
passwordElement.addEventListener('input', function(e) {
  e.preventDefault();
  const passwordValue = passwordElement.value;
  console.log(passwordValue);
  console.log(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(passwordValue));
  
  if(passwordValue.trim() === ''){
    passwordElement.classList.remove("is-valid");
    passwordElement.classList.add("is-invalid");
  }else{
    // const passwordRegex = "/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/";
    if (/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@!%#?&.])[A-Za-z\d@!%#?&.]{8,}$/.test(passwordValue)) {
      passwordElement.classList.remove("is-invalid");
      passwordElement.classList.add("is-valid");
    } else {
      passwordElement.classList.remove("is-valid");
      passwordElement.classList.add("is-invalid");
    }
  }
});



// phone validation
phoneNumberElement.addEventListener('input', function(e) {
  e.preventDefault();
  const phoneValue = phoneNumberElement.value;
  // console.log(phoneValue);
  
  if(phoneValue.trim() === ''){
    phoneNumberElement.classList.remove("is-valid");
    phoneNumberElement.classList.add("is-invalid");
  }else{
    if (/^(010|011|012|015)\d{8}$/.test(phoneValue)) {
      phoneNumberElement.classList.remove("is-invalid");
      phoneNumberElement.classList.add("is-valid");
    } else {
      phoneNumberElement.classList.remove("is-valid");
      phoneNumberElement.classList.add("is-invalid");
    }
  }
});

// age validation
ageElement.addEventListener('input', function(e) {
  e.preventDefault();
  const ageValue = ageElement.value;
  
  if(ageValue.trim() === ''){
    ageElement.classList.remove("is-valid");
    ageElement.classList.add("is-invalid");
  }else{
    if (/^(1[0-9]|10)$/.test(ageValue)) {
      ageElement.classList.remove("is-invalid");
      ageElement.classList.add("is-valid");
    } else {
      ageElement.classList.remove("is-valid");
      ageElement.classList.add("is-invalid");
    }
  }
});

// at submit button and email checking

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    emailError.textContent = '';
    // get values
    const email = form.email.value;
    const password = form.password.value;
    const firstName = form.firstName.value;
    const lastName = form.lastName.value;
    const age = form.age.value;
    const phoneNumber = form.phoneNumber.value;

    try {
      const res = await fetch ("/signup", {
        method: "POST",
        body: JSON.stringify({ firstName, lastName, email , password, age, phoneNumber}),
        headers: {"Content-Type":"application/json"}
      });
        const data = await res.json();
        // console.log(data);
        
        //validation for incorrect email
        if (data.message) {
          // console.log(data);
          // console.log(data.errors);
          // console.log(data.message);
          emailError.textContent = data.message;
          }

        //validation for duplicated email
        if (data.errors) {
            // console.log(data);
            emailError.textContent = data.errors.email;
            // passwordError.textContent = data.errors.password;
          }

          // //validation for invalid last name
          // if (data.message) {
          // // console.log(data);
          // // console.log(data.errors);
          // // console.log(data);
          // lastNameError.textContent = data;
          // }

        if(data.student){
          location.assign("/login");
        }

}   catch (error) {
  
}

  });


});
</script>
</body>
</html>