<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © Sir Mohamed Ramadan <script>document.write(new Date().getFullYear());</script> . All Rights Reserved. </p>
          <p>Powered by Noormed </p>
        </div>
      </div>
    </div>
  </footer>